/* import google font - Roboto Mono */
/* link to font - https://fonts.google.com/specimen/Roboto+Mono?category=Monospace */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,100;1,400&display=swap");

/* variables */
:root {
  --font-base: "Roboto Mono", monospace;
  --primary-color: #00b3ff;
  --secondary-color: #36393b;
  --gray-color: #7b787b;
  --lightGray-color: #c5bdc1;
  --black-color: #000;
  --white-color: #fff;
}

/* reset css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* announcement bar */
.announcement-bar {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 15px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: var(--font-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navbar */

li,
a,
button {
  font-family: var(--font-base);
  font-weight: 500px;
  font-size: 20px;
  color: var(--gray-color);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  color: var(--primary-color);
  border-bottom: 1px var(--lightGray-color) solid;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

img.logo {
  width: 125px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
  text-transform: uppercase;
  font-family: var(--font-base);
  padding: 0 3px;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--gray-color);
  padding: 1rem;
  display: block;
  transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
  color: var(--primary-color);
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 179, 255, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(0, 179, 255, 0.8);
}

.cta button {
  color: var(--white-color);
}

.toggle-button {
  position: absolute;
  top: 8rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* question and answer section */
.questions-answers h1 {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 50px;
}
.questions {
  margin: 5px 200px;
  padding: 20px;
  font-style: var(--font-base);
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 25px;
}

/* footer */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
  /* background: linear-gradient(to right, var(--primary-color), #00093c); */
  color: var(--white-color);
  padding: 100px 0 30px;
  /* border-top-left-radius: 125px; */
  font-size: 13px;
  line-height: 20px;
  font-family: var(--font-base), sans-serif;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2) .col:nth-child(3) {
  flex-basis: 15%;
}

.logo-footer {
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}

.links-footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

.links-footer a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 13px;
  margin: -40px;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  color: var(--white-color);
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0;
  outline: none;
}

form input::placeholder {
  color: #fff;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #fff;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: var(--primary-color);
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #fff;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

/* media queries */

/* TODO: Add responsiveness for Announcement Bar */
/* !Fix margin for page when size of the viewport is changed */

@media (max-width: 415px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .cta {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .cta.active {
    display: flex;
  }

  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2) .col:nth-child(3) {
    flex-basis: 100%;
  }
}

@media (max-width: 1200px) {
  .navbar {
    padding: 10px 5%;
  }

  .navbar-links li a {
    font-size: 15px;
  }

  button {
    margin: 10px;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 10px 5%;
  }

  .navbar-links li a {
    font-size: 10px;
  }

  button {
    margin: 10px;
    padding: 3px 5px;
  }

  img.logo {
    width: 100px;
  }

  .cta button {
    font-size: 10px;
  }

  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 75%;
  }

  .col:nth-child(2) .col:nth-child(3) {
    flex-basis: 75%;
  }
}
